@{

    ViewData["Title"] = "Preference Picker";

}


<h1>Preference Picker</h1>


<p>@ViewData["myColour"]</p>

<form method="post">

    <div>

        <select name="pickedColour" asp-for="@ViewData["myColour"]">

            <option value="red">Red</option>

            <option value="blue">Blue</option>

            <option value="green">Green</option>

        </select>



    </div>

    <div>

        <input type="submit" value="Pick Colour" />

    </div>

</form>
