
//*@{;

    //    ViewData["Title"] = "Session Demo";

    //}

    //<h2>Session Demo</h2>

    //<p class="sessionDisplay">@ViewData["myName"]</p>

    //<form method="post">

    //  <div>

    //    <label for="myName">Your Name:</label>

    //  <input type="text" name="myName" id="myName">

    // </div>

    //<div>

    //  <input type="submit" value="Set Name" />

    //</div>

    //</form>
    //}

@{

    ViewData["Title"] = "Session Demo";

    }

<h1>Session Demo</h1>

<p>@ViewData["myName"]</p>

<form method="post">

    <div>

        <label for="myName">Your Name:</label>

        <input type="text" name="myName" id="myName">

    </div>

    <div>

        <input type="submit" value="Set Name" />

    </div>

</form>
    }