//@{

//    ViewData["Title"] = "Cookie Tester";

//}

//<h2>Cookie Tester</h2>

//<p class="favColour @ViewData["myColour"]">@ViewData["myColour"]</p>

//<p><a href="/Home/DeleteCookies/" class="delete">Delete</a></p>*/
@{

    ViewData["Title"] = "Cookie Tester";

}

<h1>Cookie Tester</h1>

<p>@ViewData["myColour"]</p>
