@{

    ViewData["Title"] = "Test Session";

}


<h2>Test Session</h2>


<p class="sessionDisplay">@ViewData["myName"]</p>

<p><a asp-controller="Home" asp-action="DeleteSession" class="delete">Delete</a></p>




